config.json
call_llm/rows_embeddings
*.pyc
__pycache__/
call_llm/__pycache__/
dataloader/__pycache__/
.DS_Store
.vscode/
.VSCodeCounter/
pipeline/data/
/.DS_Store
./ragatouille/
src/llm/llm_embedder/*.ragatouille/
.ragatouille/
__pycache__/
*.pyc
azure_docl_ground_truth/
cuda_12.8.0_570.86.10_linux.run
.env
test.py
tables.html
tables.jsonl

/data
images
uploads
